body
{
background-color:red;
}
h1
{
display:block;
font-family:cursive;
font;color:yellow;
background-color:blue;
}
p
{
display:block;
font-family:cursive;
font;color:blue;
background-color:pink;
}