<html>
<head>
<title>hello</title>
<style type = "text/css">
body {
color: yellow;
background-color: red;
}
h1 {
color: red;
background-color: yellow;
}
</style>
</head>
<body>
<h1>hello world</h1>
</body>
</html>
