<html>
<head>
<title>anmol</title>
<style type = ”text/css”>
h1 {
font-family: “cursive”;
font-size :20px;
font-decoration :underline;
<img src = ”anmol.jpg”
alt = ”anmol bisht” />
}
</style>
</head>
<body>
<h1>anmol bisht:i love u my jaan....my soona</h1>
</body>
</html>
